@font-face {
  font-family: 'SP';
  src: url("/hangman-challenge/assets/south park.ttf") format("truetype");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 570px) {
  body {
    background-image: url("/hangman-challenge/assets/BG/desktopBg.jpg");
  }
}

body {
  background-image: url("/hangman-challenge/assets/BG/desktopBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  background-color: black;
  color: #ee590f;
  padding: 2vh;
  text-align: center;
  font-family: "SP";
  font-size: 5vh;
}

.count {
  margin-top: 1rem;
  background-color: #ee590f;
  width: 5vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0.5vh;
  font-size: 1.5vh;
  border-radius: 2vh;
  -webkit-box-shadow: 3px 3px 3px black;
          box-shadow: 3px 3px 3px black;
  font-family: "SP";
}

.rules {
  margin-top: 3vh;
  background-color: #ee590f;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1vh;
  font-size: 2vh;
  border-radius: 2vh;
  -webkit-box-shadow: 3px 3px 3px black;
          box-shadow: 3px 3px 3px black;
  font-family: "SP";
}

.word {
  margin-top: 2vh;
  background-color: #ee590f;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2vh;
  font-size: 3vh;
  border-radius: 2vh;
  -webkit-box-shadow: 3px 3px 3px black;
          box-shadow: 3px 3px 3px black;
  font-family: "SP";
}

.game {
  margin-top: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img {
  width: 50vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.btnBox {
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  font-family: "SP";
  padding: 1vh;
  background-color: #ee590f;
  border: none;
  width: 5vh;
  margin: 0.17rem;
  font-size: 2vh;
  -webkit-box-shadow: 3px 3px 3px black;
          box-shadow: 3px 3px 3px black;
  border-radius: 1.5vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.run {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ee590f;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vh;
  text-align: center;
  padding: 1vh;
  font-size: 2.5vh;
  border-radius: 2vh;
  -webkit-box-shadow: 3px 3px 3px black;
          box-shadow: 3px 3px 3px black;
  font-family: "SP";
  border: none;
  -ms-flex-line-pack: center;
      align-content: center;
}
/*# sourceMappingURL=style.css.map */